/*  -- =============== АДАПТИВ ПОД МОНИТОРЫ =============== --*/
@media (max-width: 1440px) {
  .section-feedback__content {
    display: none;
    justify-content: center;
  }
  .section-feedback__title {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .section-feedback__title {
    max-width: 100%;
  }
  .section-feedback__form-title {
    text-align: center;
  }
  .section-feedback__form {
    justify-content: center;
  }
  
}

/*  -- =============== АДАПТИВ ПОД ПЛАНШЕТЫ =============== --*/
@media (max-width: 1024px) {

}

@media (max-width: 860px) {
  .header-bottom__nav {
    display: none;
  }
}

/* @media (min-width: 768px) {
  .section-variation__items {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
} */

@media (max-width: 768px) {


  .stages-comfort__number {
    font-size: 32px;
    max-width: 75px;
    max-height: 75px;
  }

  /* .section-comfort__text-title {
    font-size: 18px;
  } */

  .section-comfort__stage {
    gap: 20px;
  }

  .payday-progress__info-title {
    font-size: 20px;
  }

  .section-feedback__form {
    flex-direction: column;
  }

  .section-feedback,
  .section-variation,
  .section-comfort,
  .section-audience,
  .section-payday {
    padding: 25px 0;
  }

  .section-variation__item {
    max-width: 250px;
  }

  .section-feedback__button {
    max-width: 300px;
    width: 100%;
  }

  .section-feedback__assent {
    max-width: 300px;
    margin: 0 auto;
  }

}

/*  -- =============== АДАПТИВ ПОД СМАРТФОНЫ =============== --*/
@media (max-width: 600px) {
  .header-top {
    display: none;
  }

}
@media (max-width: 480px) {


  .header {
    padding-top: 5vw;
  }

  

  .section-preview__content-title {
    text-align: left;
  }

  .section-preview__content-description {
    text-align: left;
  }

  .section-preview__content-button {
    width: 100%;
  }
  
  /* .section-preview__images {
    display: none;
  } */

  .section-preview__wrapper {
    flex-direction: column;
  }

  .section-preview__images {
    margin-bottom: 5vw;
  }

  .section-preview__wrapper {
    gap: 3vw;
  }

  .stages-comfort__number {
    font-size: 16px;
    max-width: 35px;
    max-height: 35px;
  }

  /* .section-comfort__text-title {
    font-size: 14px;
  } */

  .payday-progress__info-title {
    font-size: 14px;
  }

  .section-feedback__assent {
    /* font-size: 8px; */
    text-align: center;
  }

  .section-feedback__form {
    margin-bottom: 10px;
  }

  .section-comfort__stage {
    min-height: 120px;
  }


  /* .section-variation__item-money {
    font-size: 10px;
  } */

  .section-payday__wrapper {
    padding: 25px;
  }

  .payday-progress__info {
    gap: 5px;
  }

  .payday-progress__info-junior {
    max-width: 45vw;
  }

  .payday-progress__info-middle {
    max-width: 50vw;
  }

  .payday-progress__info-senior {
    max-width: 55vw;
  }

  .stages-comfort__line {
    width: 5px;
  }

  .section-audience__items li {
    max-width: 250px;
    }

}

@media (max-width: 360px) {
  .payday-progress__info-title {
    font-size: 12px;
  }

  .payday-progress__info {
    padding: 10px 15px;
  }

  .footer-map .container {
    gap: 30px;
  }

  
}

@media (max-width: 320px) {
}